$color-text: #FFFFFF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.top {
  height: 735px;
  background: {
    image: url(./images/mainblock.jpg);
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &__title {
    color: $color-text;
    font: {
      size: 64px;
      weight: 600;
    }
    line-height: 70px;
    max-width: 760px;
    padding: {
      top: 64px;
      bottom: 16px;
    }
  }

  &__description {
    color: $color-text;
    font: {
      size: 24px;
      weight: 400;
    }
    line-height: 32px;
    text-align: left;
    padding-bottom: 16px;
  }

  &__link {
    color: $color-text;
    font: {
      size: 16px;
      weight: 400;
    }
    line-height: 24px;
    text-align: left;
  }

  &_catalog {
    height: 400px;
    background-image: url(./images/catalog-head.jpg);
  }
}

.center {
  padding: {
    left: calc(50% - 600px);
    right: calc(50% - 600px);
  }
}

.header {
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &__input {
    color: $color-text;
    font: {
      inherit: true;
      size: 16px;
      weight: 400;
    }
    line-height: 20px;
    text-align: left;
    padding-left: 32px;
    width: 288px;
    height: 41px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 1px solid $color-text;
    border-radius: 20px;
    background-color: transparent;

    &:focus {
      border-color: initial;
      outline: none;
    }

    &::placeholder {
      color: $color-text;
    }
  }
}

.menu {
  display: flex;
  gap: 32px;

  &-mob {
    display: none;
  }

  &__link {
    text-decoration: none;
    color: $color-text;

    &:hover {
      text-decoration: underline;

      + .cart-form {
        display: flex;
      }
    }
  }
}

.for-box {
  margin-top: 64px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;

  &__item {
    height: 415px;
    grid-column: span 4;
    color: $color-text;
    font: {
      size: 34px;
      weight: 600;
    }
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_big {
      grid-column: span 6;
    }

    &_1 {
      background-image: url(./images/for-1.jpg);
    }

    &_2 {
      background-image: url(./images/for-2.jpg);
    }

    &_3 {
      background-image: url(./images/for-3.jpg);
    }

    &_4 {
      background-image: url(./images/for-4.jpg);
    }

    &_5 {
      background-image: url(./images/for-5.jpg);
    }
  }
}

.product-box {
  padding: {
    top: 64px;
    bottom: 32px;
  }
}

.product {
  position: relative;
  width: 378px;
  display: flex;
  flex-direction: column;

  &__content {
    margin-top: 32px;
    display: flex;
    column-gap: 33px;
    row-gap: 56px;
    flex-wrap: wrap;
  }

  &__img {
    width: 100%;
  }

  &__price-box {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
  }

  &__price {
    font: {
      weight: 500;
      size: 24px;
    }
    line-height: 29px;
    color: #050505;

    &_old {
      text-decoration-line: line-through;
      color: #888888;
    }
  }

  &__heading {
    color: #000000;
    font: {
      size: 24px;
      weight: 500;
    }
    line-height: 29px;
    margin: 9px 0;
    text-align: left;
  }

  &__text1 {
    color: #888888;
    font: {
      size: 14px;
      weight: 400;
    }
    line-height: 17px;
    text-align: left;
    padding-bottom: 12px;
  }

  &__link {
    color: #000000;
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 21px;
    overflow: hidden;
    opacity: 0;
  }

  &:hover &__button {
    opacity: 1;
    overflow: visible;
  }
}

.heading {
  color: #000000;
  font: {
    size: 48px;
    weight: 600;
  }
  line-height: 59px;
  text-align: left;

  &4 {
    font: {
      weight: 500;
      size: 24px;
    }
    line-height: 29px;
    color: #000000;
  }
}

.link-box {
  margin: {
    top: 39px;
    bottom: 64px;
  }

  &__link {
    color: #050505;

    &:hover {
      color: #888888;
      text-decoration: none;
    }
  }
}

.more-box {
  margin: {
    top: 32px;
    bottom: 64px;
  }
}

.footer {
  padding-top: 32px;
  background: rgb(247, 246, 246);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__info {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding-right: 40px;
  }

  &__ul {
    list-style-type: none;
    margin-block: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    font: {
      weight: 500;
      size: 14px;
    }
    line-height: 17px;
    color: grey;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__text-news {
    font: {
      size: 12px;
    }
    line-height: 15px;
    color: #000000;
  }

  &__heading4 {
    font: {
      weight: 500;
      size: 24px;
    }
    line-height: 29px;
    color: #000000;
  }

  &__contacts {
    font: {
      weight: 500;
      size: 14px;
    }
    line-height: 17px;
    text-decoration: none;
    color: grey;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icons {
    font-size: 0;

    &-name {
      margin-inline-end: 20px;
      font-size: 0;

      &:hover path {
        fill: #000000;
        transition: all 1s;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  &__input {
    color: #c4c4c4;
    font: {
      inherit: true;
      size: 12px;
      weight: 400;
    }
    line-height: 15px;
    text-align: left;
    padding: {
      left: 17px;
      right: 17px;
    }
    width: 260px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__button {
    background: #DED7D769;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    font: {
      inherit: true;
      size: 12px;
    }
    line-height: 18px;
    color: #000000;

    &:hover {
      background-color: #000000;
      color: #FFFFFF;
      transition: all 1s;
    }
  }
}

.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  &__btn {
    font-family: inherit;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    height: 40px;
    color: #000000;
    font: {
      size: 16px;
    }
    line-height: 20px;
    text-align: left;
    appearance: none;
    padding: {
      left: 23px;
      right: 23px;
    }
    background: {
      image: url(./images/arrow.svg);
      repeat: no-repeat;
      position: calc(100% - 22px) 16px;
    }

    &_small {
      background-color: transparent;
      width: 182px;
      font-weight: 500;
    }

    &_big {
      width: 227px;
      font: {
        weight: 400;
      }
      line-height: 20px;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import './cart';
@import './filtr';
@import './tablet';
@import './cart-form';
@import './mobile';
